@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.container {
    display: block;
}
@media (max-width: 1024px) {
    .scrollmenu {
        overflow:auto;
        white-space: nowrap;
        height: 55vh;
      }
      
      .centerlized {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0e0c0c6b;
        padding-top: 70px;
        width: 100vw;
    }
      
    .scrollmenu a:hover {
        background-color: #777;
      }
    
      .imgSize {
        width: 100vw;
        height: 55vh;
        border-style: 1px solid;
        border-radius: 50px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .leftbox{
       
        background-image: url("../assets/box2.PNG");
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .middlebox {
        border-style: 1px solid;
        border-radius: 50px;
        background-image: url("../assets/box1.PNG");
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .rightbox {
        background-image: url("../assets/box3.PNG");
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }


@media screen, handheld{
    *{
        margin: 0px;
        padding: 0px;
    }
    
    
    #BlackDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #0F1216 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 40px #00000029;
        opacity: 1;
        height:850px;
        width: 100%;
    }
    
    #CoderhubLogo{
    justify-items: center;
    margin-top: 15px;
    opacity: 1;
    width: 118px;
    height: 90px;
    }
    
    #text1{
    margin-top:44px;
    justify-self: center;
    size: 24px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    }
    
    #text2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:6px;
    font-weight:200;
    text-align: left;
    letter-spacing: 0px;
    color: #8E9395;
    opacity: 1;
        }
    
    #IconsTray{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    }
    
    .LanguageLogo{
    margin-left: 21px;
    margin-right: 29px;
    width: 45px;
    height: 46px;
    opacity: 1;
    }
    
    #LevelsTray{
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    }
    
    .Level{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self:center;
    flex-direction: column;
    margin-top:20px;
    width: 163px;
    height: 164px;
    background: #292929 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #00000029;
    border-radius: 50px;
    
    }
    
    .LevelImg{
    margin-left:15px;
    width: 133px;
    height: 92px;
    }
    
    .text3{
    direction: rtl;
    margin-left:50px ;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    }
    
    #WhiteDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        height:750px;
        width: 100%;
    }
    
    #InnerWhiteDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 322px;
        height: 464px;
        background: #FAFCFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 70px #00000014;
        border-radius: 41px;
    }
    
    #CompImg{
        margin-top: 40px;
        width: 251px;
        height: 214px;
    }
    
    h1{
        margin-top: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
    }
    
    #ContentButton{
        margin-top: 26px;
        width: 233px;
        text-align: center;
        color: white;
        height: 55px;
        background: #00ADBB 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 20px #00000029;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        border-radius: 15px;
        border: none;
        padding: 0;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 371px;
        background: #00ADBB 0% 0% no-repeat padding-box;
    }
    
    #FooterElements{
        display: flex;
        flex-direction: row;
      align-items: center;
      justify-content: space-between;
        margin-top: 66px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        color: white;
    }
    
    .Links{
        margin-right: 33px;
    }

    h5{
        margin-top: 55px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 9px;
        color: white; 
        font-weight: 200;
    }
}
